{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "13"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "babel-plugin-add-module-exports"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}