{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "13"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}